@import "../UI/constant/var.css";

.footer {
  font-family: var(--font-primary);
  height: fit-content;
  padding: 4rem 0;
  background: var(--color-matte-black-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-container {
  display: flex;
  width: 80%;
  border-bottom: 1px solid white;
}
.footer-heading {
  margin-bottom: 3rem;
}
.footer-heading h2 {
  text-align: start;
  color: white;
  font-weight: 400;
  padding:10px 10px;
}
.footer-container p {
  color: var(--color-font-grayish);
  text-align: start;
  padding:10px 10px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-links a {
  cursor: pointer;
  color: white;
  margin-bottom: 1rem;
}
.footer-links a:hover {
  color: var(--color-primary);
  --webkit-animation: slide 500ms;
  animation: slide 500ms;
}

@keyframes slide {
  from {
    padding-left: 0;
  }
  to {
    padding-left: 1rem;
  }
}
.footer-container div {
  flex: 1;
}
.footer-address p {
  margin-bottom: 1rem;
}
.footer-newsletter-input {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}
.footer-newsletter-input input {
  height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
  border: none;
}
.footer-newsletter-input input:focus {
  outline: none;
}
.footer-brand {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}
.footer-brand img {
  width: 250px;
  margin-left: -10px;
}
.input-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: var(--color-primary);
  border-radius: 0 5px 5px 0;
  box-sizing: border-box;
}
.input-icon i {
  color: white;
}
.footer-bottom-nav {
  color: white;
}
.footer-bottom-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-primary);
  font-size: 1.5rem;
  margin-left: 2rem;
  cursor: pointer;
}
.footer-bottom-nav {
  margin-top: 1rem;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
.newsletter-email {
  width: 80%;
}
@media (max-width: 500px) {
  .footer {
    height: fit-content;
    padding-bottom: 2rem;
  }
  .footer-container {
    border-bottom: none;
    flex-direction: column;
    /* margin:10px 10px 10px 10px; */
  }
  .footer-about,
  .footer-important {
    display: none;
  }
  .footer-newsletter {
    margin-top: 2rem;
  }
  .footer-bottom-nav {
    display: none;
  }
}

