@import "../../UI/constant/var.css";
.review {
  height: 70vh;
  margin-top: 5rem;

  background: var(--color-matte-black-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: var(--font-primary);
  align-items: center;
}
.review-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:4rem;
}
.review-desc {
  margin-top: 5rem;
}
.review-desc p {
  color: var(--color-font-grayish);
  font-size: 1.3rem;
  line-height: 2rem;
}
.review-customer {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}
.customer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customer-detail {
  display: flex;
  justify-content: center;
  margin-left: 2rem;

  flex-direction: column;
  align-items: flex-start;
}
.customer-designation {
  text-align: start;
  font-size: 0.7rem;
}
@media (max-width: 500px) {
  .review {
    padding: 2rem 0;
    height: 60vh;
  }
  .review-quote {
    width: 50px;
  }
  .review-desc p {
    font-size: 1.3rem;
    color: var(--);
  }
  .review-customer {
    width: 80%;
    color: var(--color-font-grayish);

    justify-content: space-evenly;
  }
  .customer-detail {
    margin: 0;
  }
  .customer-detail p {
    margin: 0;
  }
  .customer-designation {
    text-align: start;
  }
}